{% for dish in items %}
  <tr class="hover:bg-gray-30">
    <td class="border-b text-right tabular-nums">
      {{ start_index|add:forloop.counter0 }}
    </td>
    <td class="border-b">
      {{ dish.model }}
    </td>
    <td class="border-b whitespace-nowrap">
      {{ dish.manufacturer.name }}
    </td>
    <td class="border-b whitespace-nowrap text-right tabular-nums">
      <a href="{% url 'taxi:dish-detail' dish.pk %}"
         class="text-blue-600 hover:underline px-1.5 py-0.5 -m-0.5 rounded-md focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 focus-visible:ring-offset-white">
        {{ dish.id }}
      </a>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="{{ headers|length }}" class="px-4 py-2 text-center text-gray-500">
      No dishs
    </td>
  </tr>
{% endfor %}