{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Dish list<a href="{% url 'kitchen:dish-create' %}" class="btn btn-primary link-to-page">Create</a></h1>
  <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" class="btn btn-secondary" value="Search">
  </form>
  {% if dish_list %}
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Dish Type</th>
      <th>Ingredients</th>
      <th>Price</th>
    </tr>
    {% for dish in dish_list %}
      <tr>
      <td>
        <a >{{ dish.id }}</a>
      </td>
      <td>
        <a href="{% url 'kitchen:dish-detail' pk=dish.id %}"> {{ dish.name }}</a>
      </td>
      <td>
        {{ dish.dish_type }}
      </td>
      <td>
        {{ dish.ingredients }}
      </td>
      <td>
        {{ dish.price }}
      </td>
    </tr>

  {% endfor %}
  </table>
  {% else %}
    <p>There are no dishs in kitchen</p>
  {% endif %}
{% endblock %}
