{% extends 'layouts/base-presentation.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-8">
  <h1>
    {{ dish.model }}
    <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>
  <p>Dish Type: ({{ dish.dish_type.name }})</p>

  <h2>Chefs</h2>
  <hr>
  <ul>
    {% for chef in dish.chefs.all %}
      <li>{{ chef.username }} ({{ chef.first_name }} {{ chef.last_name }})</li>
    {% empty %}
      <li>No chefs assigned.</li>
    {% endfor %}
  </ul>

  {% if user.is_authenticated %}
    <form action="{% url 'kitchen:dish-toggle-chef' pk=dish.id %}" method="post" style="margin-top: 15px;">
      {% csrf_token %}
      {% if user in dish.chefs.all %}
        <input type="submit" value="Delete me from this dish" class="btn btn-warning">
      {% else %}
        <input type="submit" value="Assign me to this dish" class="btn btn-success">
      {% endif %}
    </form>
  {% endif %}
  </div>
{% endblock %}
