{% extends "base.html" %}

{% block content %}
  <h1>Finance Dashboard</h1>
  <table class="table table-bordered">
    <tr>
      <th>SUPPLY ON STOCK</th>
      <td>{{ supply_on_stock }}</td>
    </tr>
    <tr>
      <th>Supply Cost</th>
      <td>{{ supply_cost }}</td>
    </tr>
    <tr>
    <tr>
      <th>Total Revenue</th>
      <td>{{ revenue }}</td>
    </tr>
    <tr>
      <th>Staff Costs</th>
      <td>{{ employee_costs }}</td>
    </tr>
    <tr>
      <th>Fixed Costs</th>
      <td>{{ fixed_costs }}</td>
    </tr>
    <tr>
      <th>Profit</th>
      <td>{{ profit }}</td>
    </tr>
  </table>
{% endblock %}