{% extends "base.html" %}
{% block content %}
<h1>Orders <a href="{% url 'kitchen:order-create' %}" class="btn btn-primary">Create</a></h1>

{% if order_list %}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Total Price</th>
        <th>Actions</th>
    </tr>
    {% for order in order_list %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.total_price }}</td>
        <td>
          {% if order.pk %}
          <a href="{% url 'kitchen:order-update' pk=order.id %}" class="btn btn-sm btn-warning">Update</a>
          <a href="{% url 'kitchen:order-delete' pk=order.id %}" class="btn btn-sm btn-danger">Delete</a>
          {% else %}
            N/A
          {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>No orders yet.</p>
{% endif %}
{% endblock %}